src/scaffold/AndromedaScaffold.WorkerRole/Service References/AndromedaServiceReference/AndromedaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Andromeda.ClientEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Andromeda.ClientEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:81/AndromedaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Spaceship">
    <xs:sequence>
      <xs:element minOccurs="0" name="CannonCount" type="xs:int" />
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="tns:ArrayOfCommodityInHold" />
      <xs:element minOccurs="0" name="DriveCount" type="xs:int" />
      <xs:element minOccurs="0" name="FreeCapacity" type="xs:int" />
      <xs:element minOccurs="0" name="IsInTransit" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastRaided" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModificationsRemaining" type="xs:int" />
      <xs:element minOccurs="0" name="Money" type="xs:long" />
      <xs:element minOccurs="0" name="SensorCount" type="xs:int" />
      <xs:element minOccurs="0" name="SensorRangeInLightYears" type="xs:double" />
      <xs:element minOccurs="0" name="ShieldCount" type="xs:int" />
      <xs:element minOccurs="0" name="SpeedInLightYearsPerMinute" type="xs:double" />
      <xs:element minOccurs="0" name="TotalCapacity" type="xs:int" />
      <xs:element minOccurs="0" name="TotalShipsOwnedByPlayer" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Spaceship" nillable="true" type="tns:Spaceship" />
  <xs:complexType name="ArrayOfCommodityInHold">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommodityInHold" nillable="true" type="tns:CommodityInHold" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommodityInHold" nillable="true" type="tns:ArrayOfCommodityInHold" />
  <xs:complexType name="CommodityInHold">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommodityInHold" nillable="true" type="tns:CommodityInHold" />
  <xs:complexType name="Star">
    <xs:sequence>
      <xs:element minOccurs="0" name="Commodities" nillable="true" type="tns:ArrayOfCommodityAtStar" />
      <xs:element minOccurs="0" name="DistanceInLightYears" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StarGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Star" nillable="true" type="tns:Star" />
  <xs:complexType name="ArrayOfCommodityAtStar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommodityAtStar" nillable="true" type="tns:CommodityAtStar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommodityAtStar" nillable="true" type="tns:ArrayOfCommodityAtStar" />
  <xs:complexType name="CommodityAtStar">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommodityAtStar" nillable="true" type="tns:CommodityAtStar" />
  <xs:complexType name="ArrayOfStar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Star" nillable="true" type="tns:Star" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStar" nillable="true" type="tns:ArrayOfStar" />
  <xs:complexType name="ArrayOfMerchantShip">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MerchantShip" nillable="true" type="tns:MerchantShip" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMerchantShip" nillable="true" type="tns:ArrayOfMerchantShip" />
  <xs:complexType name="MerchantShip">
    <xs:sequence>
      <xs:element minOccurs="0" name="Distance" type="xs:double" />
      <xs:element minOccurs="0" name="TransponderCode" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MerchantShip" nillable="true" type="tns:MerchantShip" />
</xs:schema>